<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopease</title>
    <link rel="stylesheet" href ="/styles/loggedin.css">
    <script src="/ecom.js" > </script>
</head>
<style>

</style>
<body>
    <header>
        <div class="navbar">
            <h1>SHOPEASE</h1>
            <input type="text" placeholder="Search...">
            <div class="nav-links">
                <a href="/myorder" target="_blank">MyOrder</a>
                <a href="/cart" target="_blank">Cart</a>
            </div>
        </div>
        <nav class="menu">
            <a href="#">Shirt</a>
            <a href="#">T-Shirt</a>
            <a href="#">Shoes</a>
            <a href="#">Jeans</a>
            <a href="#">Cargos</a>
            <a href="#">Accessories</a>
        </nav>
    </header>

    <section class="hero-section">
        <div class="hero-item trending">
            <img src="/images/Trending image.avif" alt="Trending">
            <p>Trending <br> Shop Now</p>
        </div>
        <div class="hero-item deals">
            <img src="/images/top deals image.jpeg" alt="Top Deals">
            <p>Top Deals <br> 40-80% OFF</p>
        </div>
        <div class="hero-item arrivals">
            <img src="/images/new arrivals.webp" alt="New Arrivals">
            <p>New Arrivals <br> Shop Now</p>
        </div>
    </section>

    <section class="trends">
        <h2>Trends To Take Home</h2>
        <div class="products">
            <div class="product" data-id = "product1" data-name ="Black shirt" data-price ="1299">
                <img src="/images/Black Shirt.jpg" alt="Black Shirt">
                <p>Graphic printed T-shirt <br> Rs. 1,299/-</p>
            </div>
            <div class="product" data-id = "product2" data-name ="black cargo" data-price ="999">
                <img src="/images/Black Cargo.jpg" alt="Black Cargo">
                <p>Typographic T-shirt <br> Rs. 999/-</p>
            </div>
            <div class="product" data-id = "product3" data-name ="Blue overshirt" data-price ="1599">
                <img src="/images/Blue OverShirt.jpg" alt="Blue OverShirt">
                <p>Olive Cargo <br> Rs. 1,599/-</p>
            </div>
            <div class="product" data-id = "product4" data-name ="brown cargo pant men" data-price ="1399">
                <img src="/images/Brown Cargo Pant Men.jpg" alt="Brown Cargo Pant Men">
                <p>Overshirt <br> Rs. 1,399/-</p>
            </div>
            <div class="product" data-id = "product5" data-name ="brown cargo" data-price ="1199">
                <img src="/images/Brown Cargo.jpg" alt="Brown Cargo">
                <p>brown cargo  <br> Rs. 1,999/-</p>
            </div>
            <div class="product" data-id = "product6" data-name ="brown cargo" data-price ="1199">
                <img src="/images/Dark Brown Cargo.jpg" alt="Dark Brown Cargo">
                <p>brown cargo <br> Rs. 1,999/-</p>
            </div>
            <div class="product" data-id = "product7" data-name ="beige pajama" data-price ="1299">
                <img src="/images/Beige Pyjama.jpg" alt="Beige Pyjama">
                <p>Light blue denims <br> Rs. 1,299/-</p>
            </div>
            <div class="product" data-id = "product8" data-name ="men's pink shirt" data-price ="1399">
                <img src="/images/Mens Pink Shirt.jpg" alt="Mens Pink Shirt">
                <p>Overshirt <br> Rs. 1,399/-</p>
            </div>
            
            <div class="product" data-id = "product9" data-name ="mens check shirt" data-price ="1399">
                <img src="/images/Mens Check Shirt.jpg" alt="Mens Check Shirt">
                <p>Overshirt <br> Rs. 1,399/-</p>
            </div>
            
            <div class="product" data-id = "product10" data-name ="mens overshirt" data-price ="1399">
                <img src="/images/Mens OverShirt.jpg" alt="Mens OverShirt">
                <p>Overshirt <br> Rs. 1,399/-</p>
            </div>
            
            <div class="product" data-id = "product11" data-name ="overshirt blue mens " data-price ="1399">
                <img src="/images/OverShirt Blue Mens.jpg" alt="OverShirt Blue Mens">
                <p>Overshirt <br> Rs. 1,399/-</p>
            </div>
            
            <div class="product" data-id = "product12" data-name ="olive overshirt" data-price ="1399">
                <img src="/images/Olive Over Shirt.jpg" alt="Olive Over Shirt">
                <p>Overshirt <br> Rs. 1,399/-</p>
            </div>
            
            <div class="product" data-id = "product13" data-name ="purple overshirt" data-price ="1399">
                <img src="/images/Purple OverShirt.jpg" alt="Purple OverShirt">
                <p>Overshirt <br> Rs. 1,399/-</p>
            </div>
            
            <div class="product" data-id = "product14" data-name ="nike sb dunks" data-price ="11,399">
                <img src="/images/shoes.jpg" alt="Nike SB Dunks">
                <p>nike sb dunks <br> Rs. 11,399/-</p>
            </div>
            
            <div class="product" data-id = "product15" data-name ="dark brown cargo" data-price ="1399">
                <img src="/images/Dark Brown Cargo.jpg" alt="Dark Brown Cargo">
                <p>Overshirt <br> Rs. 1,399/-</p>
            </div>
            
            <div class="product" data-id = "product16" data-name ="mens gray overshirt" data-price ="1399">
                <img src="/images/Mens Grey Over Shirt.jpg" alt="Mens Grey Over Shirt">
                <p>Overshirt <br> Rs. 1,399/-</p>
            </div>
            
            <div class="product" data-id = "product17" data-name ="navy blue cotton shirt" data-price ="1399">
                <img src="/images/Navy Blue Cotton Shirt.jpg" alt="Navy Blue Cotton Shirt">
                <p>Overshirt <br> Rs. 1,399/-</p>
            </div>
            
            <div class="product" data-id = "product18" data-name ="olive over shirt" data-price ="1399">
                <img src="/images/Olive Over Shirt.jpg" alt="Olive Over Shirt">
                <p>Overshirt <br> Rs. 1,399/-</p>
            </div>
            
        </div>
    </section>




    <footer>
        <div class="footer-links">
            <a href="#">FAQ</a>
            <a href="#">Contact Us</a>
            <a href="#">Terms of Use</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Return Policy</a>
        </div>
    </footer>
    <script src="data-loader.js" defer></script>
</body>
</html>
